/* Asterisk selector to override default styles added by browser*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Make body be viewed in the entire screen*/
body{
    min-height: 100vh;
    display: flex;

/* flex-direction makes it so everything goes on top of one another*/
    flex-direction:column;
}
/* Header */
header{
    text-align: center;
    background-color: lightblue;
}

/* Main content */
main{
    text-align: left;
    background-color: lightgrey;
    flex: auto;
}

/* Footer */
footer{
    text-align: center;
    color: antiquewhite;
    background-color: black;
}