/* Google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap')

/* Asterisk selector to override default styles added by browser*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Make body be viewed in the entire screen*/
body{
    min-height: 100vh;
    display: flex;

/* flex-direction makes it so everything goes on top of one another*/
    flex-direction:column;
}

/* Navigation Bar*/
/* Add a black background color to the top navigation */
.topnav {
    background-color: #15aaff;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 2px solid transparent;
  }
  
  .topnav a:hover {
    border-bottom: 2px solid white;
  }
  
  .topnav a.active {
    border-bottom: 2px solid white;
  }

  /* Create a right-aligned (split) link inside the navigation bar */
.topnav a.split {
    float: right;;
    color: white;
  }

/* Main content */
.backgnd{
    width: 100%;
    min-height: 90vh;
    background-image: url(../Background.png);
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

/* Footer */
footer{
    text-align: center;
    color: antiquewhite;
    background-color: black;
}