/* Google fonts import*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Make body be viewed in the entire screen*/
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Roboto";
  font-size: 15px;
  color: #494949;
}

/* Header styling starts here */

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: #d2e0dc;
}

#logo {
  float: left;
  font-size: 200%;
  margin: 0 0 0 20px;
  text-decoration: none;
  color: #699689;
  letter-spacing: 3px;
}

#menu {
  font-size: 110%;
  letter-spacing: 3px;
}

#menu,
#logo {
  line-height: 75px;
}

#menu ul {
  float: right;
}

#menu li {
  float: left;
  list-style-type: none;
  margin-right: 15px;
}

#menu a {
  text-decoration: none;
  color: black;
  padding: 25px 15px;
}
#menu a:hover {
  background-color: white;
  border: 10px;
}

.spacing-under-nav {
  position: relative;
  top: -75px;
}

/* Dropdown Nav */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #e1eae7;
  min-width: 150px;
  z-index: 1;
  box-shadow: 0 0 3px #808080;
}

.dropdown-content a {
  display: block;
  line-height: 30px;
  text-align: center;
}

/* Header styling ends here */

/*Video on homepage*/

.video-content {
  position: relative;
  overflow: hidden;
  background-color: #ebefef;
  height: 63vh;
}

/*Title on Homepage*/

.video-title {
  position: absolute;
  top: 120px;
  width: 100%;
  padding: 20px;
  text-align: center;
  color: black;
}
.video-title h1 {
  font-size: 40px;
  padding: 20px;
}
.video-title p {
  padding: 60px 55px;
  text-align: center;
  line-height: 30px;
  font-size: 18px;
}

/*Milestones Section*/
.milestonetitle {
  text-align: center;
  line-height: 25px;
  padding: 100px 30px;
  padding-bottom: 15px;
  font-size: large;
}

/*Milestones checkpoints*/
.checkpoint {
  width: 100%;
  text-align: justify;
  padding: 15px 100px;
}
.checkpoint-one {
  width: 100%;
  text-align: justify;
  padding: 15px 100px;
  padding-top: 40px;
}
/*ZigZag format - Follow template on W3Schools*/
.container {
  max-width: 100%;
  padding: 20px 40px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.column-66 {
  float: left;
  width: 66.66666%;
  padding: 20px;
  margin-top: 6%;
}
.column-33 {
  float: left;
  width: 33.33333%;
  padding: 20px;
}
.large-font {
  text-align: center;
  padding: 10px;
}
.milestone-text {
  text-align: justify;
  padding-top: 50px;
  line-height: 25px;
}
img {
  width: 100%;
}
@media screen and (max-width: 1000px) {
  /*To make ZigZag portion responsive*/
  .column-66,
  .column-33 {
    width: 100%;
    text-align: center;
    padding: 20px;
  }
  .video-content img {
    margin: auto;
    opacity: 0.4;
  }
  .video-title {
    width: 100%;
  }
}

/*Airbus Homepage*/
.airbus-hero {
  position: relative;
  overflow: hidden;
  background-color: #ebefef;
  height: 63vh;
  font-size: x-large;
}
.airbus-title {
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.stats {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
  width: max-content;
  font-size: 16px;
  line-height: 30px;
  list-style-type: disc;
}

/*Aircraft Fleet*/
.a220-container {
  position: relative;
  width: 100%;
  height: 100vh;
}
.a220-container img {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
.a220-info {
  width: 100%;
  padding: 0 7%;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 100px;
  text-align: center;
  justify-content: space-evenly;
  color: white;
}
.a220-info div {
  margin: 0 20px;
}
.a220-info div h3 {
  font-size: clamp(12px, 4vw, 44px);
  font-weight: 400;
}
.a220-info div p {
  font-size: clamp(12px, 4vw, 20px);
  font-weight: 200;
}
.a220-title {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  position: absolute;
  top: 100px;
  text-align: center;
  justify-content: center;
}
.a220-title h1 {
  font-size: clamp(12px, 4vw, 70px);
  font-weight: 700;
}
.a220-title p {
  font-size: clamp(12px, 4vw, 18px);
}
#a220 h1 {
  color: white;
}
#a220 p {
  color: white;
}
/*Styling scroll down instruction*/
.scroll {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  opacity: 0.7;
  font-size: 18px;
}

@media screen and (max-width: 1000px) {
  .stats {
    width: auto;
  }
  .a220-container img {
    object-fit: contain;
  }
  #a220 h1 {
    color: black;
  }
  #a220 p {
    color: black;
  }
  .a220-info {
    color: black;
  }
  #a320 h1 {
    color: black;
  }
  #a320 p {
    color: black;
  }
  .a330-info {
    color: black;
  }
  #a330 h1 {
    color: black;
  }
  #a330 p {
    color: black;
  }
  .a330-info {
    color: black;
  }
  #a350 h1 {
    color: black;
  }
  #a350 p {
    color: black;
  }
  .a350-info {
    color: black;
  }
  #a380 h1 {
    color: black;
  }
  #a380 p {
    color: black;
  }
  .a380-info {
    color: black;
  }

  #b737 h1 {
    color: black;
  }
  #b737 p {
    color: black;
  }
  .b737-info {
    color: black;
  }
  #b747 h1 {
    color: black;
  }
  #b747 p {
    color: black;
  }
  .b767-info {
    color: black;
  }
  #b767 h1 {
    color: black;
  }
  #b767 p {
    color: black;
  }
  .b767-info {
    color: black;
  }
  #b777 h1 {
    color: black;
  }
  #b777 p {
    color: black;
  }
  .b777-info {
    color: black;
  }
  #b787 h1 {
    color: black;
  }
  #b787 p {
    color: black;
  }
  .b787-info {
    color: black;
  }
}

/* Contacts us form starts here */
.form{
  position: relative;
  align-self: center;
  text-align: center;
  padding: 50px 60px;
}

.contact-us-form {
  position: absolute;
}

.form p{
  padding: 10px;
}

.text-input {
  background-color: #d2e0dc;
  width: 90%;
  padding: 10px;
  margin: 5px;
  border: 0;
}

textarea {
  background-color: #d2e0dc;
  padding: 10px;
  width: 90%;
  height: 100px;
  margin: 5px;
  border: 0;
}

.contact-us-button{
  position: relative;
  text-align: center;
  width: 90%;
  background-color: #699689;
  padding: 5px;
  margin-top: 10px;
  border: 0;
  color: white;
}

.contact-us-button:hover {
  background-color: #d2e0dc;
  cursor: pointer;
}




/* Contacts us form ends here */

/* Footer styling starts here*/

footer {
  background-color: #d2e0dc;
}

.footer-container {
  width: 100%;
  padding: 20px 30px;
}

.social-media {
  display: flex;
  justify-content: center;
}

.social-media a {
  text-decoration: none;
  padding: 10px 50px;
  margin: 10px;
  border-radius: 50%;
}

.social-media a i {
  font-size: 2em;
  color: #699689;
  opacity: 0.9;
}

.social-media a:hover i {
  color: white;
  transition: 0.5s;
}

.footer-bottom {
  background-color: #699689;
  padding: 20px;
  text-align: center;
}

.footer-bottom p {
  color: white;
}

.designer {
  opacity: 0.8;
  letter-spacing: 1px;
  font-weight: 500;
  margin: 0px 5px;
}

/* Footer styling ends here*/
